
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
 			<th><span>ID</span></th>
			<th><span>单元CODE</span></th>
			<th><span>课程ID</span></th>
			<th><span>单元号</span></th>
			<th><span>单词归类</span></th>
			<th><span>单元名</span></th>
			<th><span>单词CODE</span></th>
			<th><span>单词索引号</span></th>
			<th><span>单词ID</span></th>
			<th><span>拼写</span></th>
			<th><span>状态</span></th>
			<th><span>修改时间</span></th>

				<th class="operate">操作</th>
				</tr>
			</thead>


			<tbody>
	#if($list && $list.size()!=0)
		    #foreach($item in $list)
		   <tr>
				 			<td>$!item.id</td>
			<td>$!item.unitCode</td>
			<td>$!item.lessonId</td>
			<td>$!item.unitNbr</td>
			<td>$!item.fstClassId</td>
			<td>$!item.unit</td>
			<td>$!item.vocCode</td>
			<td>
	
			
	
	</td>
			<td>$!item.wordId</td>
			<td>$!item.spelling</td>
			<td>
	
			
				#if($item.state==1)<span class="">有效</span> #end	
			
				#if($item.state==2)<span class="">无效</span> #end	
			
	
	</td>
			<td>$!dateFormatUtils.format($!item.modified)</td>

				<td class="operate">
					<button class="btn btn-primary JUpdate-unitWords" type="button" itemid="$!item.id">编辑</button>
					<button class="btn btn-info JView-unitWords" type="button" itemid="$!item.id">查看</button>
					<button class="btn btn-warning JDelete-unitWords" type="button" itemid="$!item.id">删除</button>
				</td>
		  </tr>
			#end
		#else
		<tr>
					<td colspan="14" class="message_default">没有记录！</td>
		</tr>
		#end


			</tbody>


		</table>

		#if($pageQuery)
			#showPageQuery($pageQuery,'queryList','input')
		#end

	</div>
</div>



<script language="javascript">
void function(j) {	
	j('.JDelete-unitWords').click(function() {
		var id = j(this).attr('itemid');
		var config={title:'删除UnitWords',info:'您确定要删除UnitWords吗？',url: '/unitWords/doDelete',param:'id='+id};
		gUtils.fConfirmAndRefreshList(config);
	});
	
	j('.JUpdate-unitWords').click(function() {
		var id = j(this).attr('itemid');
		gDialog.fCreate({ title: '修改UnitWords', url: '/unitWords/update?id='+id,width:700}).show();
	});

	j('.JView-unitWords').click(function() {
		var id = j(this).attr('itemid');
		gDialog.fCreate({ title: '查看UnitWords', url: '/unitWords/view?id='+id,width:700}).show();
	});
}(jQuery);
</script>