#set($layout='/WEB-INF/vm/layout/adminLayout.vm')
        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#view_wordstudystatistic").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="modal-body auto-height-body" id="view_wordstudystatistic">
		<form class="form-horizontal"  id="form1">
    	
    		 <div class="control-group">
    			<label class="control-label" for="id">ID</label>
    			<div class="controls">
    			
					<input type="text"  name="id" id="id" value="$!{wordStudyStatistic.id}" readonly/>
				
			</div>
		</div>
		
    		 <div class="control-group">
    			<label class="control-label" for="studentId">学生ID</label>
    			<div class="controls">
    			
					<input type="text"  name="studentId" id="studentId" value="$!{wordStudyStatistic.studentId}" readonly/>
				
			</div>
		</div>
		
    		 <div class="control-group">
    			<label class="control-label" for="count">单词数</label>
    			<div class="controls">
    			
					<input type="text"  name="count" id="count" value="$!{wordStudyStatistic.count}" readonly/>
				
			</div>
		</div>
		
    		 <div class="control-group">
    			<label class="control-label" for="state">状态</label>
    			<div class="controls">
    			
        
		<select class="forms_select input-medium form-control" name="state" id="state" disabled>
						<option value="1" #if($wordStudyStatistic.state==1) selected  #end>有效</option>
				<option value="2" #if($wordStudyStatistic.state==2) selected  #end>无效</option>

		</select>
	
    

			</div>
		</div>
		
    		 <div class="control-group">
    			<label class="control-label" for="created">创建时间</label>
    			<div class="controls">
    			
						<input type="text"  name="created" id="created" value="$!dateFormatUtils.format($!wordStudyStatistic.created)" readonly/>
					
			</div>
		</div>
		
    		 <div class="control-group">
    			<label class="control-label" for="modified">修改时间</label>
    			<div class="controls">
    			
						<input type="text"  name="modified" id="modified" value="$!dateFormatUtils.format($!wordStudyStatistic.modified)" readonly/>
					
			</div>
		</div>
		

    	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>

