#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_course").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_course">
<form class="form-inline" id="searchForm_Course" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="type">课程类型</label>
			
        
		<select class="forms_select input-medium" name="type" id="type_search">
			<option value="">全部</option>
			
				<option value="1">教材</option>
				<option value="2">错词本</option>
		</select>
	
    


		
		<label for="bookName">课程名</label>
			
			<input type="text"  name="bookName" id="bookName_search" class="input input-medium" placeholder="请输入课程名">
			

		
		<label for="bookType">课程类型</label>
			
        
		<select class="forms_select input-medium" name="bookType" id="bookType_search">
			<option value="">全部</option>
			
				<option value="1">教材</option>
				<option value="2">特色</option>
		</select>
	
    


		
		<label for="orderType">年级类型</label>
			
        
		<select class="forms_select input-medium" name="orderType" id="orderType_search">
			<option value="">全部</option>
			
				<option value="0">无</option>
				<option value="1">小学</option>
				<option value="2">初中</option>
				<option value="3">高中</option>
				<option value="4">大学</option>
		</select>
	
    


		
		<label for="bookState">课程状态</label>
			
        
		<select class="forms_select input-medium" name="bookState" id="bookState_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<label for="unitType">单元类型</label>
			
			<input type="text"  name="unitType" id="unitType_search" class="input input-medium" placeholder="请输入单元类型">
			

		
		<input type="button" onclick="queryCourseList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-course">创建 课程</button>
		</div>


	<div id="dl_Course"></div>
</div>
<script language="javascript">
	function queryCourseList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/course/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_Course");
		gUtils.fGetHtml(url, 'dl_Course', param,'数据加载中...');
	}
	queryCourseList();




void function(j) {
	jQuery("#add-course").click(function(){
		gDialog.fCreate({title: '创建 课程', url: '/course/add.action',width:700}).show();
	});
	
}(jQuery);

</script>