#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_course").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    



<div class="manage-content" id="search_course">

<form class="form-inline" id="search_form_Course">


		<div class="form-group">
			<label for="id_search">ID</label>
				
				<input type="text"  name="id" id="id_search" class="form-control" placeholder="请输入ID">
				
		</div>&nbsp;&nbsp;

		<div class="form-group">
			<label for="book_number_search">课程ID</label>

			<input type="text"  name="bookNumber" id="bookNumber_search" class="form-control" placeholder="请输入课程号">

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="type_search">课程类型</label>
				
        
		<select class="forms_select input-medium" name="type" id="type_search">
			<option value="">全部</option>
			
				<option value="1">教材</option>
				<option value="2">错词本</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="bookName_search">课程名</label>
				
				<input type="text"  name="bookName" id="bookName_search" class="form-control" placeholder="请输入课程名">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="bookType_search">课程类型</label>
				
        
		<select class="forms_select input-medium" name="bookType" id="bookType_search">
			<option value="">全部</option>
			
				<option value="1">教材</option>
				<option value="2">特色</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="orderType_search">年级类型</label>
				
        
		<select class="forms_select input-medium" name="orderType" id="orderType_search">
			<option value="">全部</option>
			
				<option value="0">无</option>
				<option value="1">小学</option>
				<option value="2">初中</option>
				<option value="3">高中</option>
				<option value="4">大学</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="bookState_search">课程状态</label>
				
        
		<select class="forms_select input-medium" name="bookState" id="bookState_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		

#*		<div class="form-group">
			<label for="unitType_search">单元类型</label>
				
				<input type="text"  name="unitType" id="unitType_search" class="form-control" placeholder="请输入单元类型">
				
		</div>&nbsp;&nbsp;*#
		
		<input type="button" onclick="queryCourseList();" class="btn btn-primary" value="搜索"  />
	</form>
		
<br/>



		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-course">
				<span class="glyphicon glyphicon-plus"></span> 创建 课程</button>
		</div>


	<div id="dl_Course"></div>
</div>


<script language="javascript">

	function queryCourseList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/course/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"search_form_Course");
		gUtils.fGetHtml(url, 'dl_Course', param,'数据加载中...');
	}
	queryCourseList();
	




void function(j) {
	jQuery("#add-course").click(function(){
		var url='/course/add.action';
		url=gUtils.fMakeFullLink(url);
		window.location=url;
	});
	
}(jQuery);

</script>