#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#view_course").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="modal-body " id="view_course">
	<form class="form-horizontal"  id="form1" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">ID</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="id" id="id" value="$!{course.id}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="type">课程类型</label>
			<div class="col-sm-8 controls">
			
        
		<select class="forms_select input-medium form-control" name="type" id="type" disabled>
						<option value="1" #if($course.type==1) selected  #end>教材</option>
				<option value="2" #if($course.type==2) selected  #end>错词本</option>

		</select>
	
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="moduleCode">课程CODE</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="moduleCode" id="moduleCode" value="$!{course.moduleCode}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="bookNumber">课程号</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="bookNumber" id="bookNumber" value="$!{course.bookNumber}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="bookName">课程名</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="bookName" id="bookName" value="$!{course.bookName}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="bookType">课程类型</label>
			<div class="col-sm-8 controls">
			
        
		<select class="forms_select input-medium form-control" name="bookType" id="bookType" disabled>
						<option value="1" #if($course.bookType==1) selected  #end>教材</option>
				<option value="2" #if($course.bookType==2) selected  #end>特色</option>

		</select>
	
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="orderType">年级类型</label>
			<div class="col-sm-8 controls">
			
        
		<select class="forms_select input-medium form-control" name="orderType" id="orderType" disabled>
						<option value="0" #if($course.orderType==0) selected  #end>无</option>
				<option value="1" #if($course.orderType==1) selected  #end>小学</option>
				<option value="2" #if($course.orderType==2) selected  #end>初中</option>
				<option value="3" #if($course.orderType==3) selected  #end>高中</option>
				<option value="4" #if($course.orderType==4) selected  #end>大学</option>

		</select>
	
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="bookState">课程状态</label>
			<div class="col-sm-8 controls">
			
        
		<select class="forms_select input-medium form-control" name="bookState" id="bookState" disabled>
						<option value="1" #if($course.bookState==1) selected  #end>有效</option>
				<option value="2" #if($course.bookState==2) selected  #end>无效</option>

		</select>
	
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="bookPrice">课程定价</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="bookPrice" id="bookPrice" value="$!{course.bookPrice}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="introduce">课程简介</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="introduce" id="introduce" value="$!{course.introduce}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="coverImageUrl">封面</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="coverImageUrl" id="coverImageUrl" value="$!{course.coverImageUrl}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="totalUnitNbr">总单元数</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="totalUnitNbr" id="totalUnitNbr" value="$!{course.totalUnitNbr}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="totalWords">单词总数</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="totalWords" id="totalWords" value="$!{course.totalWords}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="outDate">是否过期</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="outDate" id="outDate" value="$!{course.outDate}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unitType">单元类型</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="unitType" id="unitType" value="$!{course.unitType}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ext">扩展信息</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="ext" id="ext" value="$!{course.ext}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="created">创建时间</label>
			<div class="col-sm-8 controls">
			
					<input type="text"  class="form-control" name="created" id="created" value="$!dateFormatUtils.format($!course.created)" readonly/>
						
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="modified">修改时间</label>
			<div class="col-sm-8 controls">
			
					<input type="text"  class="form-control" name="modified" id="modified" value="$!dateFormatUtils.format($!course.modified)" readonly/>
						
			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>


<script language="javascript">


function backToManage(){
	var url='/course/manage.action';
	gUtils.fMakeFullLink(url);
    window.location=url;
}

</script>