
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
 			<th><span>ID</span></th>
			<th><span>课程类型</span></th>
			<th><span>课程CODE</span></th>
			<th><span>课程号</span></th>
			<th><span>课程名</span></th>
			<th><span>课程类型</span></th>
			<th><span>年级类型</span></th>
			<th><span>课程状态</span></th>
			<th><span>课程定价</span></th>
			<th><span>课程简介</span></th>
			<th><span>封面</span></th>
			<th><span>总单元数</span></th>
			<th><span>单词总数</span></th>
			<th><span>是否过期</span></th>
			<th><span>单元类型</span></th>
			<th><span>扩展信息</span></th>
			<th><span>修改时间</span></th>

				<th class="operate">操作</th>
				</tr>
			</thead>


			<tbody>
	#if($list && $list.size()!=0)
		    #foreach($item in $list)
		   <tr>
				 			<td>$!item.id</td>
			<td>
        
			
				#if($item.type==1)<span class="">教材</span> #end	
			
				#if($item.type==2)<span class="">错词本</span> #end	
			
	
    </td>
			<td>$!item.moduleCode</td>
			<td>$!item.bookNumber</td>
			<td>$!item.bookName</td>
			<td>
        
			
				#if($item.bookType==1)<span class="">教材</span> #end	
			
				#if($item.bookType==2)<span class="">特色</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.orderType==0)<span class="">无</span> #end	
			
				#if($item.orderType==1)<span class="">小学</span> #end	
			
				#if($item.orderType==2)<span class="">初中</span> #end	
			
				#if($item.orderType==3)<span class="">高中</span> #end	
			
				#if($item.orderType==4)<span class="">大学</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.bookState==1)<span class="">有效</span> #end	
			
				#if($item.bookState==2)<span class="">无效</span> #end	
			
	
    </td>
			<td>$!item.bookPrice</td>
			<td>$!item.introduce</td>
			<td>$!item.coverImageUrl</td>
			<td>$!item.totalUnitNbr</td>
			<td>$!item.totalWords</td>
			<td>$!item.outDate</td>
			<td>$!item.unitType</td>
			<td>$!item.ext</td>
			<td>$!dateFormatUtils.format($!item.modified)</td>

				<td class="operate">
					<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
						<button class="btn btn-xs btn-success JUpdate-course" type="button" itemid="$!item.id"><i class="icon-edit bigger-120"></i>编辑</button>
						<button class="btn btn-xs btn-info JView-course" type="button" itemid="$!item.id"><i class="icon-eye-open bigger-120"></i>查看</button>
						<button class="btn btn-xs btn-danger JDelete-course" type="button" itemid="$!item.id"> <i class="icon-trash bigger-120"></i>删除</button>
					</div>
				</td>
		  </tr>
			#end
		#else
		<tr>
					<td colspan="19" class="message_default">没有记录！</td>
		</tr>
		#end


			</tbody>


		</table>

		#if($pageQuery)
			#showPageQuery($pageQuery,'queryCourseList','input')
		#end

	</div>
</div>




<script language="javascript">
void function(j) {	
	j('.JDelete-course').click(function() {
		var id = j(this).attr('itemid');
		var config={title:'删除课程',info:'您确定要删除课程吗？',"queryList":"queryCourseList",
		url: '/course/doDelete.action',param:'id='+id};
		gUtils.fConfirmAndRefreshList(config);
	});
	
	j('.JUpdate-course').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '修改课程', url: '/course/update.action?id='+id,width:700}).show();
		var url='/course/update.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});

	j('.JView-course').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '查看课程', url: '/course/view?id='+id,width:700}).show();
		var url='/course/view.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});
}(jQuery);
</script>