
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
 			<th><span>ID</span></th>
			<th><span>课程ID</span></th>
			<th><span>单元号</span></th>
			<th><span>试卷类型</span></th>
			<th><span>测试范围</span></th>
			<th><span>题数</span></th>
			<th><span>题目类型</span></th>
			<th><span>考试时长</span></th>
			<th><span>题目</span></th>
			<th><span>状态</span></th>
			<th><span>修改时间</span></th>

				<th class="operate">操作</th>
				</tr>
			</thead>


			<tbody>
	#if($list && $list.size()!=0)
		    #foreach($item in $list)
		   <tr>
				 			<td>$!item.id</td>
			<td>$!item.lessonId</td>
			<td>$!item.unitNbr</td>
			<td>
        
			
				#if($item.type==1)<span class="">单元测试</span> #end	
			
				#if($item.type==2)<span class="">自主测试</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.testArea==0)<span class="">单元内</span> #end	
			
				#if($item.testArea==1)<span class="">课程内</span> #end	
			
	
    </td>
			<td>$!item.questionNbr</td>
			<td>$!item.questonType</td>
			<td>$!item.standardDuration</td>
			<td>$!item.questions</td>
			<td>
        
			
				#if($item.state==1)<span class="">有效</span> #end	
			
				#if($item.state==2)<span class="">无效</span> #end	
			
	
    </td>
			<td>$!dateFormatUtils.format($!item.modified)</td>

				<td class="operate">
					<button class="btn btn-primary JUpdate-paper" type="button" itemid="$!item.id">编辑</button>
					<button class="btn btn-info JView-paper" type="button" itemid="$!item.id">查看</button>
					<button class="btn btn-warning JDelete-paper" type="button" itemid="$!item.id">删除</button>
				</td>
		  </tr>
			#end
		#else
		<tr>
					<td colspan="13" class="message_default">没有记录！</td>
		</tr>
		#end


			</tbody>


		</table>

		#if($pageQuery)
			#showPageQuery($pageQuery,'queryPaperList','input')
		#end

	</div>
</div>



<script language="javascript">
void function(j) {	
	j('.JDelete-paper').click(function() {
		var id = j(this).attr('itemid');
		var config={title:'删除试卷',info:'您确定要删除试卷吗？',queryList:"queryPaperList",url: '/paper/doDelete',param:'id='+id};
		gUtils.fConfirmAndRefreshList(config);
	});
	
	j('.JUpdate-paper').click(function() {
		var id = j(this).attr('itemid');
		gDialog.fCreate({ title: '修改试卷', url: '/paper/update?id='+id,width:700}).show();
	});

	j('.JView-paper').click(function() {
		var id = j(this).attr('itemid');
		gDialog.fCreate({ title: '查看试卷', url: '/paper/view?id='+id,width:700}).show();
	});
}(jQuery);
</script>