#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_paper").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    



<div class="manage-content" id="search_paper">

<form class="form-inline" id="search_form_Paper">


		<div class="form-group">
			<label for="id_search">ID</label>
				
				<input type="text"  name="id" id="id_search" class="form-control" placeholder="请输入ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="lessonId_search">课程ID</label>
				
				<input type="text"  name="lessonId" id="lessonId_search" class="form-control" placeholder="请输入课程ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="type_search">试卷类型</label>
				
        
		<select class="forms_select input-medium" name="type" id="type_search">
			<option value="">全部</option>
			
				<option value="1">单元测试</option>
				<option value="2">自主测试</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="questonType_search">题目类型</label>
				
				<input type="text"  name="questonType" id="questonType_search" class="form-control" placeholder="请输入题目类型">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="state_search">状态</label>
				
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		
		<input type="button" onclick="queryPaperList();" class="btn btn-primary" value="搜索"  />
	</form>
		
<br/>



		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-paper">
				<span class="glyphicon glyphicon-plus"></span> 创建 试卷</button>
		</div>


	<div id="dl_Paper"></div>
</div>


<script language="javascript">

	function queryPaperList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/paper/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"search_form_Paper");
		gUtils.fGetHtml(url, 'dl_Paper', param,'数据加载中...');
	}
	queryPaperList();
	




void function(j) {
	jQuery("#add-paper").click(function(){
		var url='/paper/add.action';
		url=gUtils.fMakeFullLink(url);
		window.location=url;
	});
	
}(jQuery);

</script>