
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
 			<th><span>ID</span></th>
			<th><span>学生ID</span></th>
			<th><span>学生CODE</span></th>
			<th><span>课程ID</span></th>
			<th><span>是当前学习位置</span></th>
			<th><span>学习位置CODE</span></th>
			<th><span>位置类型</span></th>
			<th><span>单元号</span></th>
			<th><span>单词CODE</span></th>
			<th><span>从哪开始学</span></th>
			<th><span>学习模式</span></th>
			<th><span>完成单词数统计</span></th>
			<th><span>是否学习完成</span></th>
			<th><span>是否测试完成</span></th>
			<th><span>全部完成</span></th>
			<th><span>状态</span></th>
			<th><span>修改时间</span></th>

				<th class="operate">操作</th>
				</tr>
			</thead>


			<tbody>
	#if($list && $list.size()!=0)
		    #foreach($item in $list)
		   <tr>
				 			<td>$!item.id</td>
			<td>$!item.studentId</td>
			<td>$!item.studentCode</td>
			<td>$!item.lessonId</td>
			<td>
        
			
				#if($item.isCurrentPos==1)<span class="">是；2.否；</span> #end	
			
	
    </td>
			<td>$!item.studyPositionCode</td>
			<td>
        
			
				#if($item.positionType==1)<span class="">单词</span> #end	
			
				#if($item.positionType==2)<span class="">单元</span> #end	
			
	
    </td>
			<td>$!item.unitNbr</td>
			<td>$!item.vocCode</td>
			<td>$!item.startFrom</td>
			<td>
        
			
				#if($item.studyMode==0)<span class="">逆向学习</span> #end	
			
				#if($item.studyMode==1)<span class="">正向学习</span> #end	
			
	
    </td>
			<td>$!item.completeWordCount</td>
			<td>
        
			
				#if($item.isFinished==0)<span class="">未完成</span> #end	
			
				#if($item.isFinished==1)<span class="">已完成</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.isTest==0)<span class="">未完成</span> #end	
			
				#if($item.isTest==1)<span class="">已完成</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.isAllFinished==0)<span class="">未完成</span> #end	
			
				#if($item.isAllFinished==1)<span class="">已完成</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.status==0)<span class="">有效</span> #end	
			
				#if($item.status==1)<span class="">无效</span> #end	
			
	
    </td>
			<td>$!dateFormatUtils.format($!item.modified)</td>

				<td class="operate">
					<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
						<button class="btn btn-xs btn-success JUpdate-courseStudy" type="button" itemid="$!item.id"><i class="icon-edit bigger-120"></i>编辑</button>
						<button class="btn btn-xs btn-info JView-courseStudy" type="button" itemid="$!item.id"><i class="icon-eye-open bigger-120"></i>查看</button>
						<button class="btn btn-xs btn-danger JDelete-courseStudy" type="button" itemid="$!item.id"> <i class="icon-trash bigger-120"></i>删除</button>
					</div>
				</td>
		  </tr>
			#end
		#else
		<tr>
					<td colspan="19" class="message_default">没有记录！</td>
		</tr>
		#end


			</tbody>


		</table>

		#if($pageQuery)
			#showPageQuery($pageQuery,'queryCourseStudyList','input')
		#end

	</div>
</div>




<script language="javascript">
void function(j) {	
	j('.JDelete-courseStudy').click(function() {
		var id = j(this).attr('itemid');
		var config={title:'删除课程学习',info:'您确定要删除课程学习吗？',"queryList":"queryCourseStudyList",
		url: '/courseStudy/doDelete.action',param:'id='+id};
		gUtils.fConfirmAndRefreshList(config);
	});
	
	j('.JUpdate-courseStudy').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '修改课程学习', url: '/courseStudy/update.action?id='+id,width:700}).show();
		var url='/courseStudy/update.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});

	j('.JView-courseStudy').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '查看课程学习', url: '/courseStudy/view?id='+id,width:700}).show();
		var url='/courseStudy/view.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});
}(jQuery);
</script>