<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-autowire="byName">

	<bean id="activateCodeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.ActivateCodeDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="courseDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.CourseDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="courseStudyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.CourseStudyDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="examDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.ExamDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="loginRecordDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.LoginRecordDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="paperDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.PaperDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="questionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.QuestionDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="selfWordsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.SelfWordsDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="selfWordsStudyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.SelfWordsStudyDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="unitDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.UnitDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="unitWordsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.UnitWordsDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="unitWordsStudyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.UnitWordsStudyDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.UserDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="wordDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.WordDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="wordStudyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.WordStudyDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="wordStudyStatisticDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.WordStudyStatisticDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="allwordDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.AllwordDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="taskDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.goldfish.dao.TaskDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>



</beans>