<link href="/misc/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/misc/css/joywindow.bootstrap.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/misc/aceadmin/css/font-awesome.min.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="/misc/aceadmin/css/font-awesome-ie7.min.css" />
<![endif]-->
<link rel="stylesheet" href="/misc/css/font-awesome.min.css" />

<!-- ace styles -->

<link rel="stylesheet" href="/misc/aceadmin/css/ace.min.css" />
<link rel="stylesheet" href="/misc/aceadmin/css/ace-rtl.min.css" />
<link rel="stylesheet" href="/misc/aceadmin/css/ace-skins.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="/misc/aceadmin/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="/misc/aceadmin/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="/misc/aceadmin/js/html5shiv.js"></script>
<script src="/misc/aceadmin/js/respond.min.js"></script>
<![endif]-->
