
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
 			<th><span>id</span></th>
			<th><span>账户名</span></th>
			<th><span>密码</span></th>
			<th><span>用户code</span></th>
			<th><span>别名</span></th>
			<th><span>角色</span></th>
			<th><span>权限等级</span></th>
			<th><span>父ID</span></th>
			<th><span>激活码</span></th>
			<th><span>关联课程</span></th>
			<th><span>用户状态</span></th>
			<th><span>登录次数</span></th>
			<th><span>当前班级</span></th>
			<th><span>当前老师</span></th>
			<th><span>等级</span></th>
			<th><span>积分</span></th>
			<th><span>状态</span></th>
			<th><span>修改时间</span></th>

				<th class="operate">操作</th>
				</tr>
			</thead>


			<tbody>
	#if($list && $list.size()!=0)
		    #foreach($item in $list)
		   <tr>
				 			<td>$!item.id</td>
			<td>$!item.userId</td>
			<td>$!item.passwd</td>
			<td>$!item.userCode</td>
			<td>$!item.nikeName</td>
			<td>
        
			
				#if($item.roleType==1)<span class="">用户</span> #end	
			
				#if($item.roleType==2)<span class="">管理员</span> #end	
			
	
    </td>
			<td>
        
			
				#if($item.authorityLevel==1)<span class="">默认</span> #end	
			
				#if($item.authorityLevel==2)<span class="">其他</span> #end	
			
	
    </td>
			<td>$!item.parentId</td>
			<td>$!item.activateCode</td>
			<td>$!item.lessonIds</td>
			<td>
        
			
				#if($item.userState==0)<span class="">初始状态</span> #end	
			
				#if($item.userState==1)<span class="">正常</span> #end	
			
				#if($item.userState==2)<span class="">欠费</span> #end	
			
				#if($item.userState==3)<span class="">不可用</span> #end	
			
	
    </td>
			<td>$!item.totalLoginTimes</td>
			<td>$!item.currentClass</td>
			<td>$!item.currentTeacher</td>
			<td>
        
			
				#if($item.level==1)<span class="">庶人</span> #end	
			
				#if($item.level==2)<span class="">童生</span> #end	
			
				#if($item.level==3)<span class="">秀才</span> #end	
			
				#if($item.level==4)<span class="">举人</span> #end	
			
				#if($item.level==5)<span class="">进士</span> #end	
			
				#if($item.level==6)<span class="">探花</span> #end	
			
				#if($item.level==7)<span class="">榜眼</span> #end	
			
				#if($item.level==8)<span class="">状元</span> #end	
			
	
    </td>
			<td>$!item.cashPoint</td>
			<td>
        
			
				#if($item.state==1)<span class="">有效</span> #end	
			
				#if($item.state==2)<span class="">无效</span> #end	
			
	
    </td>
			<td>$!dateFormatUtils.format($!item.modified)</td>

				<td class="operate">
					<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
						<button class="btn btn-xs btn-success JUpdate-user" type="button" itemid="$!item.id"><i class="icon-edit bigger-120"></i>编辑</button>
						<button class="btn btn-xs btn-info JView-user" type="button" itemid="$!item.id"><i class="icon-eye-open bigger-120"></i>查看</button>
						<button class="btn btn-xs btn-danger JDelete-user" type="button" itemid="$!item.id"> <i class="icon-trash bigger-120"></i>删除</button>
					</div>
				</td>
		  </tr>
			#end
		#else
		<tr>
					<td colspan="19" class="message_default">没有记录！</td>
		</tr>
		#end


			</tbody>


		</table>

		#if($pageQuery)
			#showPageQuery($pageQuery,'queryUserList','input')
		#end

	</div>
</div>




<script language="javascript">
void function(j) {	
	j('.JDelete-user').click(function() {
		var id = j(this).attr('itemid');
		var config={title:'删除用户',info:'您确定要删除用户吗？',"queryList":"queryUserList",
		url: '/user/doDelete.action',param:'id='+id};
		gUtils.fConfirmAndRefreshList(config);
	});
	
	j('.JUpdate-user').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '修改用户', url: '/user/update.action?id='+id,width:700}).show();
		var url='/user/update.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});

	j('.JView-user').click(function() {
		var id = j(this).attr('itemid');
		//gDialog.fCreate({ title: '查看用户', url: '/user/view?id='+id,width:700}).show();
		var url='/user/view.action?id='+id;
		window.location=gUtils.fMakeFullLink(url);
	});
}(jQuery);
</script>