#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_user").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_user">
<form class="form-inline" id="searchForm_User" onsubmit="return false;">


		<label for="id">id</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入id">
			

		
		<label for="userId">账户名</label>
			
			<input type="text"  name="userId" id="userId_search" class="input input-medium" placeholder="请输入账户名">
			

		
		<label for="nikeName">别名</label>
			
			<input type="text"  name="nikeName" id="nikeName_search" class="input input-medium" placeholder="请输入别名">
			

		
		<label for="roleType">角色</label>
			
        
		<select class="forms_select input-medium" name="roleType" id="roleType_search">
			<option value="">全部</option>
			
				<option value="1">用户</option>
				<option value="2">管理员</option>
		</select>
	
    


		
		<label for="parentId">父ID</label>
			
			<input type="text"  name="parentId" id="parentId_search" class="input input-medium" placeholder="请输入父ID">
			

		
		<label for="userState">用户状态</label>
			
        
		<select class="forms_select input-medium" name="userState" id="userState_search">
			<option value="">全部</option>
			
				<option value="0">初始状态</option>
				<option value="1">正常</option>
				<option value="2">欠费</option>
				<option value="3">不可用</option>
		</select>
	
    


		
		<label for="state">状态</label>
			
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<input type="button" onclick="queryUserList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-user">创建 用户</button>
		</div>


	<div id="dl_User"></div>
</div>
<script language="javascript">
	function queryUserList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/user/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_User");
		gUtils.fGetHtml(url, 'dl_User', param,'数据加载中...');
	}
	queryUserList();




void function(j) {
	jQuery("#add-user").click(function(){
		gDialog.fCreate({title: '创建 用户', url: '/user/add.action',width:700}).show();
	});
	
}(jQuery);

</script>