#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_exam").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_exam">
<form class="form-inline" id="searchForm_Exam" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="userId">用户ID</label>
			
			<input type="text"  name="userId" id="userId_search" class="input input-medium" placeholder="请输入用户ID">
			

		
		<label for="lessonId">课程ID</label>
			
			<input type="text"  name="lessonId" id="lessonId_search" class="input input-medium" placeholder="请输入课程ID">
			

		
		<label for="pageId">试卷ID</label>
			
			<input type="text"  name="pageId" id="pageId_search" class="input input-medium" placeholder="请输入试卷ID">
			

		
		<label for="testType">测试类型</label>
			
        
		<select class="forms_select input-medium" name="testType" id="testType_search">
			<option value="">全部</option>
			
				<option value="1">单元测试；2.自主测试；</option>
		</select>
	
    


		
		<label for="cashPointType">积分类型</label>
			
        
		<select class="forms_select input-medium" name="cashPointType" id="cashPointType_search">
			<option value="">全部</option>
			
				<option value="0">未知</option>
				<option value="1">金币</option>
		</select>
	
    


		
		<label for="state">状态</label>
			
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<input type="button" onclick="queryExamList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-exam">创建 考试</button>
		</div>


	<div id="dl_Exam"></div>
</div>
<script language="javascript">
	function queryExamList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/exam/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_Exam");
		gUtils.fGetHtml(url, 'dl_Exam', param,'数据加载中...');
	}
	queryExamList();




void function(j) {
	jQuery("#add-exam").click(function(){
		gDialog.fCreate({title: '创建 考试', url: '/exam/add.action',width:700}).show();
	});
	
}(jQuery);

</script>