#set($layout='/WEB-INF/vm/layout/adminLayout.vm')



    
<div class="modal-body " id="update_exam">
	<form class="form-horizontal"  id="form_update_Exam" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="id" id="id" placeholder="请输入ID" maxlength="19" value="$!{exam.id}"readonly/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userId">用户ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="userId" id="userId" placeholder="请输入用户ID" maxlength="10" value="$!{exam.userId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userCode">用户CODE</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="userCode" id="userCode" placeholder="请输入用户CODE" maxlength="50" value="$!{exam.userCode}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="lessonId">课程ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="lessonId" id="lessonId" placeholder="请输入课程ID" maxlength="10" value="$!{exam.lessonId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unitNbr">课程号</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="unitNbr" id="unitNbr" placeholder="请输入课程号" maxlength="3" value="$!{exam.unitNbr}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="pageId">试卷ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="pageId" id="pageId" placeholder="请输入试卷ID" maxlength="19" value="$!{exam.pageId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="testType">测试类型</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="testType" id="testType">
				<option value="1" #if($exam.testType==1) selected #end>单元测试</option>
				<option value="2" #if($exam.testType==2) selected #end>自主测试</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="resultScore">得分</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="resultScore" id="resultScore" placeholder="请输入得分" maxlength="3" value="$!{exam.resultScore}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="standardDuration">考试时长</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="standardDuration" id="standardDuration" placeholder="请输入考试时长" maxlength="19" value="$!{exam.standardDuration}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="realDuration">实际用时</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="realDuration" id="realDuration" placeholder="请输入实际用时" maxlength="19" value="$!{exam.realDuration}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="errorNbr">错误数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="errorNbr" id="errorNbr" placeholder="请输入错误数" maxlength="3" value="$!{exam.errorNbr}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cashPoint">积分</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="cashPoint" id="cashPoint" placeholder="请输入积分" maxlength="10" value="$!{exam.cashPoint}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cashPointType">积分类型</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="cashPointType" id="cashPointType">
				<option value="0" #if($exam.cashPointType==0) selected #end>未知</option>
				<option value="1" #if($exam.cashPointType==1) selected #end>金币</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isPass">是否通过</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isPass" id="isPass">
				<option value="0" #if($exam.isPass==0) selected #end>未通过</option>
				<option value="1" #if($exam.isPass==1) selected #end>通过</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
				<option value="1" #if($exam.state==1) selected #end>有效</option>
				<option value="2" #if($exam.state==2) selected #end>无效</option>
</select>
		
    

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_update_Exam">保存修改</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>


<script language="javascript">




void function(j) {
	var set = {
		 		id:  {must: true, maxlength:19, ftip:'ID,最多19个字符' ,handler:'int' },
		userId:  {must: false, maxlength:10, ftip:'用户ID,最多10个字符' ,handler:'int' },
		userCode:  {must: false, maxlength:50, ftip:'用户CODE,最多50个字符'},
		lessonId:  {must: false, maxlength:10, ftip:'课程ID,最多10个字符' ,handler:'int' },
		unitNbr:  {must: false, maxlength:3, ftip:'课程号,最多3个字符' ,handler:'int' },
		pageId:  {must: false, maxlength:19, ftip:'试卷ID,最多19个字符' ,handler:'int' },
		testType:  {must: false, maxlength:3, ftip:'测试类型,最多3个字符' ,handler:'int' },
		resultScore:  {must: false, maxlength:3, ftip:'得分,最多3个字符' ,handler:'int' },
		standardDuration:  {must: false, maxlength:19, ftip:'考试时长,最多19个字符' ,handler:'int' },
		realDuration:  {must: false, maxlength:19, ftip:'实际用时,最多19个字符' ,handler:'int' },
		errorNbr:  {must: false, maxlength:3, ftip:'错误数,最多3个字符' ,handler:'int' },
		cashPoint:  {must: false, maxlength:10, ftip:'积分,最多10个字符' ,handler:'int' },
		cashPointType:  {must: false, maxlength:3, ftip:'积分类型,最多3个字符' ,handler:'int' },
		isPass:  {must: false, maxlength:1, ftip:'是否通过,最多1个字符'},
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_update_Exam').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_update_Exam").serialize(),
			set, 
			'/exam/doUpdate.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/exam/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>