@charset "utf-8";
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
	color:#4D4D4D
}
html {
	line-height:1
}
ol,ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,th,td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
input:focus {
	outline:0
}
q,blockquote {
	quotes:none
}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
	content:none
}
a img {
	border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display:block
}
body {
	font-family:微软雅黑,黑体,宋体,Arial;
	font-size:12px
}
a {
	text-decoration:none;
	cursor:pointer
}
input {
	font-family:微软雅黑,Arial
}
.topline {
	width:100%;
	height:60px;
	background:#3b414f;
}
.topline .topcon {
	width:1000px;
	margin:0 auto
}
.topline .topcon * {
  color: #a7a8a9;
  font-size: 16px;
}
.topline .topcon .l_con {
	float:left;
  text-align:left;
  height: 58px;
  line-height: 60px;
}
.topline .topcon .r_con {
	float:right;
	text-align:right
}
.topline .topcon .r_con a {
  display: inline-block;
  margin-left: 30px;
  height: 58px;
  line-height: 60px;
}
.topline .topcon .r_con a.selected {
  color: #fff;
  border-bottom: 2px solid #05bf8d;
}
.topline .topcon .r_con a:hover {
	color:#f00
}
.logo {
	width:181px;
	height:55px;
	float:left
}
.center-menubar {
	float:right;
	width:auto;
	height:40px;
	font-size:16px;
	margin-top:10px;
	border:1px solid #d31920;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
.center-menubar ul {
	padding:0;
	margin:0;
	width:100%
}
.center-menubar li {
	list-style:none;
	float:left;
	width:auto;
	height:40px;
	text-align:center;
	border-right:1px solid #d31920;
	position:relative
}
.center-menubar li:last-child {
	background:0;
	border-right:0
}
.center-menubar li a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#d2191f
}
.center-menubar li a:hover {
	display:block;
	width:100%;
	height:40px;
	color:#fff;
	background:#d2191f;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0
}
.center-menubar li a .active {
	width:auto;
	height:40px;
	color:#fff;
	background:#d2191f;
	text-align:center
}
.center-menubar li a>span {
	display:block;
	width:auto;
	height:40px;
	padding:0 25px;
	color:#d2191f;
	text-align:center
}
.center-menubar li a>span:hover {
	color:#fff
}
.center-menubar li .nav_bot {
	width:100%;
	height:40px;
	position:absolute;
	top:40px;
	left:0;
	line-height:40px;
	font-size:16px;
	color:#666;
	text-align:center;
	background:#dcdcdc;
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	display:none;
	z-index:100
}
.center-menubar span {
	font-family:'微软雅黑'
}
.foot {
	width:100%;
	height:auto;
	min-height:90px;
	background:#3b414f;
	border-top:1px solid #bfbfbf
}
.foot * {
  color: #808080;
}
.foot p {
	padding:15px;
	margin:10px auto 0;
	line-height:30px;
	text-align:center
}
.clearf {
	clear:both
}
.gray {
	color:#999
}
#banner {
	width:100%;
	height:350px;
	margin:0 auto
}
#banner img {
	width:100%;
	height:350px
}
.logo_ban {
	width:1000px;
	height:60px;
	margin:30px auto 0
}
.success_tips {
	font-size:20px;
	color:red
}
.testresultAll {
	width:1000px;
	height:auto;
	margin:50px auto;
	font-size:14px;
	font-family:"微软雅黑"
}
.testresultAll table {
	border-collapse:collapse;
	width:100%;
	border:1px solid #dcdcdc
}
.trbggray {
	background:#dcdcdc
}
.testresultAll table tr td {
	color:#999;
	line-height:36px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc
}
.testresultAll table tr:nth-of-type(even) {
	background:#F5FAFA
}
.testresultAll table tr:hover {
	background:#E0F0F0
}
.testresultAll table tr:first-child td:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px
}
.testresultAll table tr:first-child td:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px
}
.testresultAll tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px
}
.testresultAll tr:last-child td:last-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px
}