<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p - %C[%L] - %m \n" />
		</layout>
	</appender>
    <appender name="DEFAULT_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="file" value="${log.root}/jshow.shareyi.com/default.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %C[%L] - %m \n" />
        </layout>
    </appender>

    <appender name="EXCEPTION_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="file" value="${log.root}/jshow.shareyi.com/exception.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %C[%L] - %m \n" />
        </layout>
    </appender>


     <category name="DEFAULT" additivity="false">
        <priority value="DEBUG" />
        <appender-ref ref="DEFAULT_FILE" />
        <appender-ref ref="CONSOLE" />
    </category>


    <category name="EXCEPTION" additivity="false">
        <priority value="DEBUG" />
        <appender-ref ref="EXCEPTION_FILE" />
        <appender-ref ref="CONSOLE" />
    </category>

	
	<root>
		<priority value="${log.level}" />
		<appender-ref ref="DEFAULT_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
