#set($layout='/WEB-INF/vm/layout/adminLayout.vm')


    
<div class="modal-body " id="add_loginrecord">
	<form class="form-horizontal"  id="form_add_LoginRecord" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="wordTrainingId">训练ID</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="wordTrainingId" id="wordTrainingId" placeholder="请输入训练ID" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="wordTraningCode">训练CODE</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="wordTraningCode" id="wordTraningCode" placeholder="请输入训练CODE" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studyToken">学习token</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="studyToken" id="studyToken" placeholder="请输入学习token" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userId">用户ID</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="userId" id="userId" placeholder="请输入用户ID" maxlength="10"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userCode">用户CODE</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="userCode" id="userCode" placeholder="请输入用户CODE" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userName">用户名</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="userName" id="userName" placeholder="请输入用户名" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    
				
			</div>
		</div>
		
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_add_LoginRecord">保存</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>




<script language="javascript">


void function(j) {
	var set = {
		 		wordTrainingId:  {must: false, maxlength:50, ftip:'训练ID,最多50个字符'},
		wordTraningCode:  {must: false, maxlength:50, ftip:'训练CODE,最多50个字符'},
		studyToken:  {must: false, maxlength:50, ftip:'学习token,最多50个字符'},
		userId:  {must: false, maxlength:10, ftip:'用户ID,最多10个字符' ,handler:'int' },
		userCode:  {must: false, maxlength:50, ftip:'用户CODE,最多50个字符'},
		userName:  {must: false, maxlength:50, ftip:'用户名,最多50个字符'},
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_add_LoginRecord').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_add_LoginRecord").serialize(),
			set, 
			'/loginRecord/doAdd.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/loginRecord/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>