

    
<div class="modal-body auto-height-body">
	<form class="form-horizontal"  id="form1">
	
		 <div class="control-group">
			<label class="control-label" for="wordTrainingId">训练ID</label>
			<div class="controls">
			
				<input type="text"  name="wordTrainingId" id="wordTrainingId" placeholder="请输入训练ID" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="wordTraningCode">训练CODE</label>
			<div class="controls">
			
				<input type="text"  name="wordTraningCode" id="wordTraningCode" placeholder="请输入训练CODE" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="studyToken">学习token</label>
			<div class="controls">
			
				<input type="text"  name="studyToken" id="studyToken" placeholder="请输入学习token" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userId">用户ID</label>
			<div class="controls">
			
				<input type="text"  name="userId" id="userId" placeholder="请输入用户ID" maxlength="10"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userCode">用户CODE</label>
			<div class="controls">
			
				<input type="text"  name="userCode" id="userCode" placeholder="请输入用户CODE" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userName">用户名</label>
			<div class="controls">
			
				<input type="text"  name="userName" id="userName" placeholder="请输入用户名" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="state">状态</label>
			<div class="controls">
			
		
		<select class="forms_select" name="state" id="state">
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
	

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_submit">保存</a>
	<a href="javascript:;" class="btn"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>



<script language="javascript">
void function(j) {
	var set = {
		 
		 wordTrainingId:  {must: true, maxlength:50, ftip:'训练ID,最多50个字符'},
		 wordTraningCode:  {must: true, maxlength:50, ftip:'训练CODE,最多50个字符'},
		 studyToken:  {must: true, maxlength:50, ftip:'学习token,最多50个字符'},
		 userId:  {must: true, maxlength:10, ftip:'用户ID,最多10个字符'},
		 userCode:  {must: true, maxlength:50, ftip:'用户CODE,最多50个字符'},
		 userName:  {must: true, maxlength:50, ftip:'用户名,最多50个字符'},
		 state:  {must: true, maxlength:3, ftip:'状态,最多3个字符'}
	};
	

	j('#btn_submit').click(function(e) {
		gUtils.fSubmitForm(
			j("#form1").serialize(), 
			set, 
			'/loginRecord/doAdd.action', 
			function() {
				gDialog.fClose();
				queryList(1);
			}
		);
	});
	
	//form.friend.init(set);
}(jQuery);
</script>