#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_loginrecord").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_loginrecord">
<form class="form-inline" id="searchForm_LoginRecord" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="wordTrainingId">训练ID</label>
			
			<input type="text"  name="wordTrainingId" id="wordTrainingId_search" class="input input-medium" placeholder="请输入训练ID">
			

		
		<label for="userId">用户ID</label>
			
			<input type="text"  name="userId" id="userId_search" class="input input-medium" placeholder="请输入用户ID">
			

		
		<label for="userName">用户名</label>
			
			<input type="text"  name="userName" id="userName_search" class="input input-medium" placeholder="请输入用户名">
			

		
		<label for="state">状态</label>
			
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<input type="button" onclick="queryLoginRecordList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-loginRecord">创建 登录</button>
		</div>


	<div id="dl_LoginRecord"></div>
</div>
<script language="javascript">
	function queryLoginRecordList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/loginRecord/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_LoginRecord");
		gUtils.fGetHtml(url, 'dl_LoginRecord', param,'数据加载中...');
	}
	queryLoginRecordList();




void function(j) {
	jQuery("#add-loginRecord").click(function(){
		gDialog.fCreate({title: '创建 登录', url: '/loginRecord/add.action',width:700}).show();
	});
	
}(jQuery);

</script>