

<div class="manage-content">
<form class="form-inline">


		<label>id</label>
			
			<input type="text"  name="id" id="id_search" class="input" placeholder="请输入id">
			

		
		<label>账户名</label>
			
			<input type="text"  name="userId" id="userId_search" class="input" placeholder="请输入账户名">
			

		
		<label>角色</label>
			
	
		<select class="forms_select" name="roleType" id="roleType_search">
			<option value="">全部</option>
			
				<option value="1">用户</option>
				<option value="2">管理员</option>
		</select>
	
	


		
		<label>父ID</label>
			
			<input type="text"  name="parentId" id="parentId_search" class="input" placeholder="请输入父ID">
			

		
		<label>用户状态</label>
			
	
		<select class="forms_select" name="userState" id="userState_search">
			<option value="">全部</option>
			
				<option value="0">初始状态</option>
				<option value="1">正常</option>
				<option value="2">欠费</option>
				<option value="3">不可用</option>
		</select>
	
	


		
		<label>状态</label>
			
	
		<select class="forms_select" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
	


		
		<input type="button" onclick="queryList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-user">创建 User</button>
		</div>


	<div id="dl"></div>
</div>
<script language="javascript">
	function queryList(pageNo) {	
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/user/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		getOtherParams(param);
		gUtils.fGetHtml(url, 'dl', param,'数据加载中...');
	}
	queryList();
	

	function getOtherParams(param){
   
	  	var id_search=jQuery("#id_search").val();
		if(id_search!=null&&id_search!=''){
				param.id=id_search;
			}
			 
	  	var userId_search=jQuery("#userId_search").val();
		if(userId_search!=null&&userId_search!=''){
				param.userId=userId_search;
			}
			 
	  	var roleType_search=jQuery("#roleType_search").val();
		if(roleType_search!=null&&roleType_search!=''){
				param.roleType=roleType_search;
			}
			 
	  	var parentId_search=jQuery("#parentId_search").val();
		if(parentId_search!=null&&parentId_search!=''){
				param.parentId=parentId_search;
			}
			 
	  	var userState_search=jQuery("#userState_search").val();
		if(userState_search!=null&&userState_search!=''){
				param.userState=userState_search;
			}
			 
	  	var state_search=jQuery("#state_search").val();
		if(state_search!=null&&state_search!=''){
				param.state=state_search;
			}
					
	}




void function(j) {
	jQuery("#add-user").click(function(){
		gDialog.fCreate({title: '创建 User', url: '/user/add.action',width:700}).show();
	});
	
}(jQuery);

</script>