

<div class="modal-body auto-height-body">
	<form class="form-horizontal"  id="form1">
	
		 <div class="control-group">
			<label class="control-label" for="id">id</label>
			<div class="controls">
			
							<input type="text"  name="id" id="id" value="$!{user.id}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userId">账户名</label>
			<div class="controls">
			
							<input type="text"  name="userId" id="userId" value="$!{user.userId}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="passwd">密码</label>
			<div class="controls">
			
							<input type="text"  name="passwd" id="passwd" value="$!{user.passwd}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userCode">用户code</label>
			<div class="controls">
			
							<input type="text"  name="userCode" id="userCode" value="$!{user.userCode}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="nikeName">别名</label>
			<div class="controls">
			
							<input type="text"  name="nikeName" id="nikeName" value="$!{user.nikeName}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="roleType">角色，1</label>
			<div class="controls">
			
	
		<select class="forms_select" name="roleType" id="roleType" disabled>
				<option value="默认为学生;2" #if($user.roleType==默认为学生;2) selected  #end>老师；3：管理员</option>

		</select>
	
	

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="authorityLevel">权限等级</label>
			<div class="controls">
			
							<input type="text"  name="authorityLevel" id="authorityLevel" value="$!{user.authorityLevel}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="parentId">parent_id</label>
			<div class="controls">
			
							<input type="text"  name="parentId" id="parentId" value="$!{user.parentId}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="activateCode">激活码</label>
			<div class="controls">
			
							<input type="text"  name="activateCode" id="activateCode" value="$!{user.activateCode}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userState">用户状态</label>
			<div class="controls">
			
	
		<select class="forms_select" name="userState" id="userState" disabled>
				<option value="0" #if($user.userState==0) selected  #end>初始状态</option>
				<option value="1" #if($user.userState==1) selected  #end>正常；2：欠费；3：不可用</option>

		</select>
	
	

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="totalLoginTimes">登录次数</label>
			<div class="controls">
			
							<input type="text"  name="totalLoginTimes" id="totalLoginTimes" value="$!{user.totalLoginTimes}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="wordTrainingId">word_training_id</label>
			<div class="controls">
			
							<input type="text"  name="wordTrainingId" id="wordTrainingId" value="$!{user.wordTrainingId}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="wordTrainingCode">word_training_code</label>
			<div class="controls">
			
							<input type="text"  name="wordTrainingCode" id="wordTrainingCode" value="$!{user.wordTrainingCode}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="currentClass">current_class</label>
			<div class="controls">
			
							<input type="text"  name="currentClass" id="currentClass" value="$!{user.currentClass}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="currentTeacher">current_teacher</label>
			<div class="controls">
			
							<input type="text"  name="currentTeacher" id="currentTeacher" value="$!{user.currentTeacher}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="level">level</label>
			<div class="controls">
			
							<input type="text"  name="level" id="level" value="$!{user.level}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="cashPoint">cash_point</label>
			<div class="controls">
			
							<input type="text"  name="cashPoint" id="cashPoint" value="$!{user.cashPoint}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="created">created</label>
			<div class="controls">
			
							<input type="text"  name="created" id="created" value="$!dateFormatUtils.format($!user.created)" readonly/>
						
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="modified">modified</label>
			<div class="controls">
			
							<input type="text"  name="modified" id="modified" value="$!dateFormatUtils.format($!user.modified)" readonly/>
						
			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>

