#set($layout='/WEB-INF/vm/layout/adminLayout.vm')


    
<div class="modal-body " id="add_unitwords">
	<form class="form-horizontal"  id="form_add_UnitWords" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unitCode">单元CODE</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="unitCode" id="unitCode" placeholder="请输入单元CODE" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="lessonId">课程ID</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="lessonId" id="lessonId" placeholder="请输入课程ID" maxlength="19"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unitNbr">单元号</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="unitNbr" id="unitNbr" placeholder="请输入单元号" maxlength="3"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="fstClassId">单词归类</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="fstClassId" id="fstClassId" placeholder="请输入单词归类" maxlength="3"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unit">单元名</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="unit" id="unit" placeholder="请输入单元名" maxlength="20"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vocCode">单词CODE</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="vocCode" id="vocCode" placeholder="请输入单词CODE" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vocIndex">单词索引号</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="vocIndex" id="vocIndex">
			
		</select>
	
    
				
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="wordId">单词ID</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="wordId" id="wordId" placeholder="请输入单词ID" maxlength="19"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="spelling">拼写</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="spelling" id="spelling" placeholder="请输入拼写" maxlength="128"/>
								
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="meaning">释义</label>
			<div class="col-sm-7 controls">

				<input type="text"  class="form-control" name="meaning" id="meaning" placeholder="请输入释义" maxlength="255"/>

			</div>
		</div>

		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    
				
			</div>
		</div>
		
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_add_UnitWords">保存</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>




<script language="javascript">


void function(j) {
	var set = {
		 		unitCode:  {must: false, maxlength:50, ftip:'单元CODE,最多50个字符'},
		lessonId:  {must: false, maxlength:19, ftip:'课程ID,最多19个字符' ,handler:'int' },
		unitNbr:  {must: false, maxlength:3, ftip:'单元号,最多3个字符' ,handler:'int' },
		fstClassId:  {must: false, maxlength:3, ftip:'单词归类,最多3个字符' ,handler:'int' },
		unit:  {must: false, maxlength:20, ftip:'单元名,最多20个字符'},
		vocCode:  {must: false, maxlength:50, ftip:'单词CODE,最多50个字符'},
		vocIndex:  {must: false, maxlength:10, ftip:'单词索引号,最多10个字符' ,handler:'int' },
		wordId:  {must: false, maxlength:19, ftip:'单词ID,最多19个字符' ,handler:'int' },
		spelling:  {must: false, maxlength:128, ftip:'拼写,最多128个字符'},
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_add_UnitWords').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_add_UnitWords").serialize(),
			set, 
			'/unitWords/doAdd.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/unitWords/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>