#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_unitwords").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_unitwords">
<form class="form-inline" id="searchForm_UnitWords" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="lessonId">课程ID</label>
			
			<input type="text"  name="lessonId" id="lessonId_search" class="input input-medium" placeholder="请输入课程ID">
			

		
		<label for="fstClassId">单词归类</label>
			
			<input type="text"  name="fstClassId" id="fstClassId_search" class="input input-medium" placeholder="请输入单词归类">
			

		
		<label for="wordId">单词ID</label>
			
			<input type="text"  name="wordId" id="wordId_search" class="input input-medium" placeholder="请输入单词ID">
			

		
		<label for="state">状态</label>
			
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<input type="button" onclick="queryUnitWordsList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-unitWords">创建 单元单词</button>
		</div>


	<div id="dl_UnitWords"></div>
</div>
<script language="javascript">
	function queryUnitWordsList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/unitWords/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_UnitWords");
		gUtils.fGetHtml(url, 'dl_UnitWords', param,'数据加载中...');
	}
	queryUnitWordsList();




void function(j) {
	jQuery("#add-unitWords").click(function(){
		gDialog.fCreate({title: '创建 单元单词', url: '/unitWords/add.action',width:700}).show();
	});
	
}(jQuery);

</script>