#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_unitwords").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    



<div class="manage-content" id="search_unitwords">

<form class="form-inline" id="search_form_UnitWords">


		<div class="form-group">
			<label for="id_search">ID</label>
				
				<input type="text"  name="id" id="id_search" class="form-control" placeholder="请输入ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="lessonId_search">课程号</label>
				
				<input type="text"  name="lessonId" id="lessonId_search" class="form-control" placeholder="请输入课程号">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="unitNbr_search">单元号</label>
				
				<input type="text"  name="unitNbr" id="unitNbr_search" class="form-control" placeholder="请输入单元号">
				
		</div>&nbsp;&nbsp;

		<div class="form-group">
			<label for="fstClassId_search">单词归类</label>

				<input type="text"  name="fstClassId" id="fstClassId_search" class="form-control" placeholder="请输入单词归类">

		</div>&nbsp;&nbsp;


		<div class="form-group">
			<label for="wordId_search">单词ID</label>
				
				<input type="text"  name="wordId" id="wordId_search" class="form-control" placeholder="请输入单词ID">
				
		</div>&nbsp;&nbsp;

		<div class="form-group">
			<label for="vocCode_search">vocCode</label>

				<input type="text"  name="vocCode" id="vocCode_search" class="form-control" placeholder="请输入vocCode">

		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="state_search">状态</label>
				
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		
		<input type="button" onclick="queryUnitWordsList();" class="btn btn-primary" value="搜索"  />
	</form>
		
<br/>



		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-unitWords">
				<span class="glyphicon glyphicon-plus"></span> 创建 单元单词</button>
		</div>


	<div id="dl_UnitWords"></div>
</div>


<script language="javascript">

	function queryUnitWordsList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/unitWords/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"search_form_UnitWords");
		gUtils.fGetHtml(url, 'dl_UnitWords', param,'数据加载中...');
	}
	queryUnitWordsList();
	




void function(j) {
	jQuery("#add-unitWords").click(function(){
		var url='/unitWords/add.action';
		url=gUtils.fMakeFullLink(url);
		window.location=url;
	});
	
}(jQuery);

</script>