#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

    
<div class="modal-body auto-height-body"   id="add_wordstudy">
	<form class="form-horizontal"  id="form_add_WordStudy">
	
		 <div class="control-group">
			<label class="control-label" for="vocCode">单词CODE</label>
			<div class="controls">
			
				<input type="text"  name="vocCode" id="vocCode" placeholder="请输入单词CODE" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userVocCode">用户单词CODE</label>
			<div class="controls">
			
				<input type="text"  name="userVocCode" id="userVocCode" placeholder="请输入用户单词CODE" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="spell">单词拼写</label>
			<div class="controls">
			
				<input type="text"  name="spell" id="spell" placeholder="请输入单词拼写" maxlength="128"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="studentId">学生ID</label>
			<div class="controls">
			
				<input type="text"  name="studentId" id="studentId" placeholder="请输入学生ID" maxlength="10"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="userCode">用户CODE</label>
			<div class="controls">
			
				<input type="text"  name="userCode" id="userCode" placeholder="请输入用户CODE" maxlength="50"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="memoryLevel">记忆等级</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="memoryLevel" id="memoryLevel">
			
				<option value="1">生词</option>
				<option value="2">熟词</option>
				<option value="3">半生熟</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="reviewTimes">复习次数</label>
			<div class="controls">
			
				<input type="text"  name="reviewTimes" id="reviewTimes" placeholder="请输入复习次数" maxlength="3"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="timeLeft">剩余时间</label>
			<div class="controls">
			
				<input type="text"  name="timeLeft" id="timeLeft" placeholder="请输入剩余时间" maxlength="19"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="finishReadingTime">完成阅读时间</label>
			<div class="controls">
			
				<input type="text"  name="finishReadingTime" id="finishReadingTime" placeholder="请输入完成阅读时间" maxlength="19"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isFstReadSuccess">是否第一次就读成功</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isFstReadSuccess" id="isFstReadSuccess">
			
				<option value="0">否；1.是；</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="readFailTimes">读失败次数</label>
			<div class="controls">
			
				<input type="text"  name="readFailTimes" id="readFailTimes" placeholder="请输入读失败次数" maxlength="3"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="continueReadFailTimes">持续读失败次数</label>
			<div class="controls">
			
				<input type="text"  name="continueReadFailTimes" id="continueReadFailTimes" placeholder="请输入持续读失败次数" maxlength="3"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isHalfReading">是否半读</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isHalfReading" id="isHalfReading">
			
				<option value="0">否</option>
				<option value="1">是</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isFstSpellSuccess">是否第一个就拼写成功</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isFstSpellSuccess" id="isFstSpellSuccess">
			
				<option value="0">否</option>
				<option value="1">是</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="spellFailTimes">拼写错误次数</label>
			<div class="controls">
			
				<input type="text"  name="spellFailTimes" id="spellFailTimes" placeholder="请输入拼写错误次数" maxlength="3"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="continueSpellFailTimes">连续拼写错误次数</label>
			<div class="controls">
			
				<input type="text"  name="continueSpellFailTimes" id="continueSpellFailTimes" placeholder="请输入连续拼写错误次数" maxlength="3"/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isHalfSpelling">是否为半写</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isHalfSpelling" id="isHalfSpelling">
			
				<option value="0">否；1.是；</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isRemember">是否记住</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isRemember" id="isRemember">
			
				<option value="0">否；1.是；</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="isCancelReview">是否取消复习</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="isCancelReview" id="isCancelReview">
			
				<option value="0">否；1.是；</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="iscollected">是否被收藏</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="iscollected" id="iscollected">
			
				<option value="0">否；1.是；</option>
		</select>
	
    

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="state">状态</label>
			<div class="controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_add_WordStudy">保存</a>
	<a href="javascript:;" class="btn"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>



<script language="javascript">
void function(j) {
	var set = {
		 		vocCode:  {must: false, maxlength:50, ftip:'单词CODE,最多50个字符'},
		userVocCode:  {must: false, maxlength:50, ftip:'用户单词CODE,最多50个字符'},
		spell:  {must: false, maxlength:128, ftip:'单词拼写,最多128个字符'},
		studentId:  {must: false, maxlength:10, ftip:'学生ID,最多10个字符' ,handler:'int' },
		userCode:  {must: false, maxlength:50, ftip:'用户CODE,最多50个字符'},
		memoryLevel:  {must: false, maxlength:3, ftip:'记忆等级,最多3个字符' ,handler:'int' },
		reviewTimes:  {must: false, maxlength:3, ftip:'复习次数,最多3个字符' ,handler:'int' },
		timeLeft:  {must: false, maxlength:19, ftip:'剩余时间,最多19个字符' ,handler:'int' },
		finishReadingTime:  {must: false, maxlength:19, ftip:'完成阅读时间,最多19个字符' ,handler:'int' },
		isFstReadSuccess:  {must: false, maxlength:1, ftip:'是否第一次就读成功,最多1个字符'},
		readFailTimes:  {must: false, maxlength:3, ftip:'读失败次数,最多3个字符' ,handler:'int' },
		continueReadFailTimes:  {must: false, maxlength:3, ftip:'持续读失败次数,最多3个字符' ,handler:'int' },
		isHalfReading:  {must: false, maxlength:1, ftip:'是否半读,最多1个字符'},
		isFstSpellSuccess:  {must: false, maxlength:1, ftip:'是否第一个就拼写成功,最多1个字符'},
		spellFailTimes:  {must: false, maxlength:3, ftip:'拼写错误次数,最多3个字符' ,handler:'int' },
		continueSpellFailTimes:  {must: false, maxlength:3, ftip:'连续拼写错误次数,最多3个字符' ,handler:'int' },
		isHalfSpelling:  {must: false, maxlength:1, ftip:'是否为半写,最多1个字符'},
		isRemember:  {must: false, maxlength:1, ftip:'是否记住,最多1个字符'},
		isCancelReview:  {must: false, maxlength:1, ftip:'是否取消复习,最多1个字符'},
		iscollected:  {must: false, maxlength:1, ftip:'是否被收藏,最多1个字符'},
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_add_WordStudy').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_add_WordStudy").serialize(),
			set, 
			'/wordStudy/doAdd.action', 
			function() {
				gDialog.fClose();
				queryWordStudyList(1);
			}
		);
	});
	
}(jQuery);
</script>