#set($layout='/WEB-INF/vm/layout/adminLayout.vm')



    
<div class="modal-body " id="update_wordstudy">
	<form class="form-horizontal"  id="form_update_WordStudy" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="id" id="id" placeholder="请输入ID" maxlength="19" value="$!{wordStudy.id}"readonly/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vocCode">单词CODE</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="vocCode" id="vocCode" placeholder="请输入单词CODE" maxlength="50" value="$!{wordStudy.vocCode}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userVocCode">用户单词CODE</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="userVocCode" id="userVocCode" placeholder="请输入用户单词CODE" maxlength="50" value="$!{wordStudy.userVocCode}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="wordId">单词ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="wordId" id="wordId" placeholder="请输入单词ID" maxlength="128" value="$!{wordStudy.wordId}"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="spell">单词拼写</label>
			<div class="col-sm-7 controls">

			<input type="text" class="form-control"  name="spell" id="spell" placeholder="请输入单词拼写" maxlength="128" value="$!{wordStudy.spell}"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="meaning">单词释义</label>
			<div class="col-sm-7 controls">

			<input type="text" class="form-control"  name="meaning" id="meaning" placeholder="请输入单词拼写" maxlength="128" value="$!{wordStudy.meaning}"/>
			</div>
		</div>

		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studentId">学生ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="studentId" id="studentId" placeholder="请输入学生ID" maxlength="10" value="$!{wordStudy.studentId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="userCode">用户CODE</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="userCode" id="userCode" placeholder="请输入用户CODE" maxlength="50" value="$!{wordStudy.userCode}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="memoryLevel">记忆等级</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="memoryLevel" id="memoryLevel">
				<option value="1" #if($wordStudy.memoryLevel==1) selected #end>生词</option>
				<option value="2" #if($wordStudy.memoryLevel==2) selected #end>熟词</option>
				<option value="3" #if($wordStudy.memoryLevel==3) selected #end>半生熟</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="reviewTimes">复习次数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="reviewTimes" id="reviewTimes" placeholder="请输入复习次数" maxlength="3" value="$!{wordStudy.reviewTimes}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="timeLeft">剩余时间</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="timeLeft" id="timeLeft" placeholder="请输入剩余时间" maxlength="19" value="$!{wordStudy.timeLeft}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="finishReadingTime">完成阅读时间</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="finishReadingTime" id="finishReadingTime" placeholder="请输入完成阅读时间" maxlength="19" value="$!{wordStudy.finishReadingTime}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isFstReadSuccess">是否第一次就读成功</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isFstReadSuccess" id="isFstReadSuccess">
				<option value="0" #if($wordStudy.isFstReadSuccess==0) selected #end>否；1.是；</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="readFailTimes">读失败次数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="readFailTimes" id="readFailTimes" placeholder="请输入读失败次数" maxlength="3" value="$!{wordStudy.readFailTimes}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="continueReadFailTimes">持续读失败次数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="continueReadFailTimes" id="continueReadFailTimes" placeholder="请输入持续读失败次数" maxlength="3" value="$!{wordStudy.continueReadFailTimes}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isHalfReading">是否半读</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isHalfReading" id="isHalfReading">
				<option value="0" #if($wordStudy.isHalfReading==0) selected #end>否</option>
				<option value="1" #if($wordStudy.isHalfReading==1) selected #end>是</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isFstSpellSuccess">是否第一个就拼写成功</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isFstSpellSuccess" id="isFstSpellSuccess">
				<option value="0" #if($wordStudy.isFstSpellSuccess==0) selected #end>否</option>
				<option value="1" #if($wordStudy.isFstSpellSuccess==1) selected #end>是</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="spellFailTimes">拼写错误次数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="spellFailTimes" id="spellFailTimes" placeholder="请输入拼写错误次数" maxlength="3" value="$!{wordStudy.spellFailTimes}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="continueSpellFailTimes">连续拼写错误次数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="continueSpellFailTimes" id="continueSpellFailTimes" placeholder="请输入连续拼写错误次数" maxlength="3" value="$!{wordStudy.continueSpellFailTimes}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isHalfSpelling">是否为半写</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isHalfSpelling" id="isHalfSpelling">
				<option value="0" #if($wordStudy.isHalfSpelling==0) selected #end>否；1.是；</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isRemember">是否记住</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isRemember" id="isRemember">
				<option value="0" #if($wordStudy.isRemember==0) selected #end>否；1.是；</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isCancelReview">是否取消复习</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isCancelReview" id="isCancelReview">
				<option value="0" #if($wordStudy.isCancelReview==0) selected #end>否；1.是；</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="iscollected">是否被收藏</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="iscollected" id="iscollected">
				<option value="0" #if($wordStudy.iscollected==0) selected #end>否；1.是；</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
				<option value="1" #if($wordStudy.state==1) selected #end>有效</option>
				<option value="2" #if($wordStudy.state==2) selected #end>无效</option>
</select>
		
    

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_update_WordStudy">保存修改</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>


<script language="javascript">




void function(j) {
	var set = {
		 		id:  {must: true, maxlength:19, ftip:'ID,最多19个字符' ,handler:'int' },
		vocCode:  {must: false, maxlength:50, ftip:'单词CODE,最多50个字符'},
		userVocCode:  {must: false, maxlength:50, ftip:'用户单词CODE,最多50个字符'},
		spell:  {must: false, maxlength:128, ftip:'单词拼写,最多128个字符'},
		studentId:  {must: false, maxlength:10, ftip:'学生ID,最多10个字符' ,handler:'int' },
		userCode:  {must: false, maxlength:50, ftip:'用户CODE,最多50个字符'},
		memoryLevel:  {must: false, maxlength:3, ftip:'记忆等级,最多3个字符' ,handler:'int' },
		reviewTimes:  {must: false, maxlength:3, ftip:'复习次数,最多3个字符' ,handler:'int' },
		timeLeft:  {must: false, maxlength:19, ftip:'剩余时间,最多19个字符' ,handler:'int' },
		finishReadingTime:  {must: false, maxlength:19, ftip:'完成阅读时间,最多19个字符' ,handler:'int' },
		isFstReadSuccess:  {must: false, maxlength:1, ftip:'是否第一次就读成功,最多1个字符'},
		readFailTimes:  {must: false, maxlength:3, ftip:'读失败次数,最多3个字符' ,handler:'int' },
		continueReadFailTimes:  {must: false, maxlength:3, ftip:'持续读失败次数,最多3个字符' ,handler:'int' },
		isHalfReading:  {must: false, maxlength:1, ftip:'是否半读,最多1个字符'},
		isFstSpellSuccess:  {must: false, maxlength:1, ftip:'是否第一个就拼写成功,最多1个字符'},
		spellFailTimes:  {must: false, maxlength:3, ftip:'拼写错误次数,最多3个字符' ,handler:'int' },
		continueSpellFailTimes:  {must: false, maxlength:3, ftip:'连续拼写错误次数,最多3个字符' ,handler:'int' },
		isHalfSpelling:  {must: false, maxlength:1, ftip:'是否为半写,最多1个字符'},
		isRemember:  {must: false, maxlength:1, ftip:'是否记住,最多1个字符'},
		isCancelReview:  {must: false, maxlength:1, ftip:'是否取消复习,最多1个字符'},
		iscollected:  {must: false, maxlength:1, ftip:'是否被收藏,最多1个字符'},
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_update_WordStudy').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_update_WordStudy").serialize(),
			set, 
			'/wordStudy/doUpdate.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/wordStudy/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>