

<div class="modal-body auto-height-body">
	<form class="form-horizontal"  id="form1">
	
		 <div class="control-group">
			<label class="control-label" for="id">ID</label>
			<div class="controls">
			
							<input type="text"  name="id" id="id" value="$!{question.id}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="questionType">试题类型</label>
			<div class="controls">
			
	
		<select class="forms_select" name="questionType" id="questionType" disabled>
				<option value="0" #if($question.questionType==0) selected  #end>英译汉</option>
				<option value="1" #if($question.questionType==1) selected  #end>汉译英</option>
				<option value="3" #if($question.questionType==3) selected  #end>听选</option>
				<option value="4" #if($question.questionType==4) selected  #end>听写</option>

		</select>
	
	

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="lessonId">课程ID</label>
			<div class="controls">
			
							<input type="text"  name="lessonId" id="lessonId" value="$!{question.lessonId}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="unitNbr">单元号</label>
			<div class="controls">
			
							<input type="text"  name="unitNbr" id="unitNbr" value="$!{question.unitNbr}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="wordId">单词ID</label>
			<div class="controls">
			
							<input type="text"  name="wordId" id="wordId" value="$!{question.wordId}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="vocCode">单词CODE</label>
			<div class="controls">
			
							<input type="text"  name="vocCode" id="vocCode" value="$!{question.vocCode}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="spelling">单词拼写</label>
			<div class="controls">
			
							<input type="text"  name="spelling" id="spelling" value="$!{question.spelling}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="question">题描述</label>
			<div class="controls">
			
							<input type="text"  name="question" id="question" value="$!{question.question}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="choices">选项</label>
			<div class="controls">
			
							<input type="text"  name="choices" id="choices" value="$!{question.choices}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="answerIndex">正确答案</label>
			<div class="controls">
			
							<input type="text"  name="answerIndex" id="answerIndex" value="$!{question.answerIndex}" readonly/>
				
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="level">难易层度</label>
			<div class="controls">
			
	
		<select class="forms_select" name="level" id="level" disabled>
				<option value="0" #if($question.level==0) selected  #end>未知</option>
				<option value="1" #if($question.level==1) selected  #end>容易</option>
				<option value="2" #if($question.level==2) selected  #end>中等</option>
				<option value="3" #if($question.level==3) selected  #end>较难</option>

		</select>
	
	

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="state">状态</label>
			<div class="controls">
			
	
		<select class="forms_select" name="state" id="state" disabled>
				<option value="1" #if($question.state==1) selected  #end>有效</option>
				<option value="2" #if($question.state==2) selected  #end>无效</option>

		</select>
	
	

			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="created">创建时间</label>
			<div class="controls">
			
							<input type="text"  name="created" id="created" value="$!dateFormatUtils.format($!question.created)" readonly/>
						
			</div>
		</div>
		
		 <div class="control-group">
			<label class="control-label" for="modified">修改时间</label>
			<div class="controls">
			
							<input type="text"  name="modified" id="modified" value="$!dateFormatUtils.format($!question.modified)" readonly/>
						
			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>

