#set($layout='/WEB-INF/vm/layout/adminLayout.vm')



    
<div class="modal-body " id="update_selfwordsstudy">
	<form class="form-horizontal"  id="form_update_SelfWordsStudy" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="id" id="id" placeholder="请输入ID" maxlength="19" value="$!{selfWordsStudy.id}"readonly/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studentId">学生ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="studentId" id="studentId" placeholder="请输入学生ID" maxlength="10" value="$!{selfWordsStudy.studentId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studentCode">学生CODE</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="studentCode" id="studentCode" placeholder="请输入学生CODE" maxlength="50" value="$!{selfWordsStudy.studentCode}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="lessonId">课程ID</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="lessonId" id="lessonId" placeholder="请输入课程ID" maxlength="10" value="$!{selfWordsStudy.lessonId}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="unitNbr">课程号</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="unitNbr" id="unitNbr" placeholder="请输入课程号" maxlength="3" value="$!{selfWordsStudy.unitNbr}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="type">类型</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="type" id="type">
				<option value="1" #if($selfWordsStudy.type==1) selected #end>复习学习</option>
				<option value="2" #if($selfWordsStudy.type==2) selected #end>错词学习</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="currentPhase">当前学习阶段</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="currentPhase" id="currentPhase">
				<option value="1" #if($selfWordsStudy.currentPhase==1) selected #end>分批学习</option>
				<option value="2" #if($selfWordsStudy.currentPhase==2) selected #end>整体回忆</option>
				<option value="3" #if($selfWordsStudy.currentPhase==3) selected #end>单元测试</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="totalReadingTime">总读时间</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="totalReadingTime" id="totalReadingTime" placeholder="请输入总读时间" maxlength="19" value="$!{selfWordsStudy.totalReadingTime}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="totalWritingTime">总写时间</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="totalWritingTime" id="totalWritingTime" placeholder="请输入总写时间" maxlength="19" value="$!{selfWordsStudy.totalWritingTime}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="totalNumber">总学习单词数</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="totalNumber" id="totalNumber" placeholder="请输入总学习单词数" maxlength="10" value="$!{selfWordsStudy.totalNumber}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isFinished">是否学习完成</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isFinished" id="isFinished">
				<option value="1" #if($selfWordsStudy.isFinished==1) selected #end>未完成</option>
				<option value="2" #if($selfWordsStudy.isFinished==2) selected #end>已完成</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="isTested">是否测试完成</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="isTested" id="isTested">
				<option value="1" #if($selfWordsStudy.isTested==1) selected #end>未完成</option>
				<option value="2" #if($selfWordsStudy.isTested==2) selected #end>已完成</option>
</select>
		
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studyPos">单词学习位置</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="studyPos" id="studyPos" placeholder="请输入单词学习位置" maxlength="3" value="$!{selfWordsStudy.studyPos}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
				<option value="1" #if($selfWordsStudy.state==1) selected #end>有效</option>
				<option value="2" #if($selfWordsStudy.state==2) selected #end>无效</option>
</select>
		
    

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_update_SelfWordsStudy">保存修改</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>


<script language="javascript">




void function(j) {
	var set = {
		 		id:  {must: true, maxlength:19, ftip:'ID,最多19个字符' ,handler:'int' },
		studentId:  {must: false, maxlength:10, ftip:'学生ID,最多10个字符' ,handler:'int' },
		studentCode:  {must: false, maxlength:50, ftip:'学生CODE,最多50个字符'},
		lessonId:  {must: false, maxlength:10, ftip:'课程ID,最多10个字符' ,handler:'int' },
		unitNbr:  {must: false, maxlength:3, ftip:'课程号,最多3个字符' ,handler:'int' },
		type:  {must: false, maxlength:3, ftip:'类型,最多3个字符' ,handler:'int' },
		currentPhase:  {must: false, maxlength:3, ftip:'当前学习阶段,最多3个字符' ,handler:'int' },
		totalReadingTime:  {must: false, maxlength:19, ftip:'总读时间,最多19个字符' ,handler:'int' },
		totalWritingTime:  {must: false, maxlength:19, ftip:'总写时间,最多19个字符' ,handler:'int' },
		totalNumber:  {must: false, maxlength:10, ftip:'总学习单词数,最多10个字符' ,handler:'int' },
		isFinished:  {must: false, maxlength:3, ftip:'是否学习完成,最多3个字符' ,handler:'int' },
		isTested:  {must: false, maxlength:3, ftip:'是否测试完成,最多3个字符' ,handler:'int' },
		studyPos:  {must: false, maxlength:3, ftip:'单词学习位置,最多3个字符' ,handler:'int' },
		state:  {must: false, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_update_SelfWordsStudy').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_update_SelfWordsStudy").serialize(),
			set, 
			'/selfWordsStudy/doUpdate.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/selfWordsStudy/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>