<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE>九宫格单词集训营</TITLE>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

#*    <link rel="stylesheet" href="/misc/css/another/ui.jqgrid.min.css"/>
    <link rel="stylesheet" href="/misc/css/another/ui-dialog.min.css"/>
    <link rel="stylesheet" href="/misc/css/another/bootstrap.min.css"/>
    <link rel="stylesheet" href="/misc/css/another/bootstrap-modal.css"/>
    <link rel="stylesheet" href="/misc/css/another/select2/3.5.4/select2.css"/>
    <link rel="stylesheet" href="/misc/css/another/ace.min.css"/>
    <link rel="stylesheet" href="/misc/css/another/font-awesome.min.css"/>*#
#*    <link rel="stylesheet" href="/misc/css/another/jquery-ui-1.10.3.full.min.css"/>*#
    #*<link rel="stylesheet" href="/js/validator/jquery.validator.css"/>*#

    #parse("/WEB-INF/vm/common/cssStatics.vm")
    #parse("/WEB-INF/vm/common/jsStatics.vm")
</HEAD>

<body>
$!{screen_content}
</body>
</HTML>
