<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2015-2025 <a href="http://www.oschina.net" target="_blank">shareyi</a>.</strong> All rights reserved.
</footer>

