#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_coursestudy").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_coursestudy">
<form class="form-inline" id="searchForm_CourseStudy" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="studentId">学生ID</label>
			
			<input type="text"  name="studentId" id="studentId_search" class="input input-medium" placeholder="请输入学生ID">
			

		
		<label for="lessonId">课程ID</label>
			
			<input type="text"  name="lessonId" id="lessonId_search" class="input input-medium" placeholder="请输入课程ID">
			

		
		<label for="positionType">位置类型</label>
			
        
		<select class="forms_select input-medium" name="positionType" id="positionType_search">
			<option value="">全部</option>
			
				<option value="1">单词</option>
				<option value="2">单元</option>
		</select>
	
    


		
		<label for="status">状态</label>
			
        
		<select class="forms_select input-medium" name="status" id="status_search">
			<option value="">全部</option>
			
				<option value="0">有效</option>
				<option value="1">无效</option>
		</select>
	
    


		
		<input type="button" onclick="queryCourseStudyList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-courseStudy">创建 课程学习</button>
		</div>


	<div id="dl_CourseStudy"></div>
</div>
<script language="javascript">
	function queryCourseStudyList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/courseStudy/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_CourseStudy");
		gUtils.fGetHtml(url, 'dl_CourseStudy', param,'数据加载中...');
	}
	queryCourseStudyList();




void function(j) {
	jQuery("#add-courseStudy").click(function(){
		gDialog.fCreate({title: '创建 课程学习', url: '/courseStudy/add.action',width:700}).show();
	});
	
}(jQuery);

</script>