<footer class="footer ">
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a href="" target="_blank">金鱼教育</a></li><li>单词赢管理后台</li>
      </ul>
    </div>
</footer>
    