<!--分页控件开始-->
<!--分页控件-->
#set($totalCount = $list.totalItem)
#set($pageCount = $list.totalPage)
#set($pageNo=$list.index)
<div class='pager'>
	<span class="pageInfo">
		   共查询出<span class="valueFont">#if($!totalCount) $!totalCount #else 0 #end</span>条记录  
		   共 <span class="valueFont">#if($!pageCount) $!pageCount #else 0 #end</span>页</span>
		 <span class="pageBar">
#if($!pageCount>0)
		[#if($!pageNo == 1)
			<a id="homepage" disabled="disabled">首页</a> | 
			<a id="previous" disabled="disabled">上一页</a> |
		#else
			<a id="homepage" href="javascript:selectByPage(1)">首页</a> | 
			<a id="previous" href="javascript:previous($!pageNo)">上一页</a> |
		#end
		 
		#if($!pageNo==$!pageCount)
			<a id="nextpage" disabled="disabled">下一页</a> | 
			<a id="lastpage" disabled="disabled">末页</a> ] 
		#else
			<a id="nextpage" href="javascript:nextpage($!pageNo)">下一页</a> | 
			<a id="lastpage" href="javascript:selectByPage($!pageCount)">末页</a> ] 
		#end
		
		转向:
	    <span id="ctl00_CPgrid_Pager1_PageInput">
            <input type="text" value="$!pageNo" id="pageInput" style="width:36px;" /><input type="button" value="转向" onclick="jumpPage()" />
        </span>
#end
	</span>
</div>
<div class="Pagination" style="display:none">
<span style=";float:left;margin:3px 0 0 5px;">
		   共查询出
		   <span style="color:Red;padding-left:2px;">  $!totalCount</span>条记录  
		   共 <span style="color:Red;padding-left:2px;">  $!pageCount</span>页</span>
</div>
<!--分页控件结束--> 


<script type="text/javascript">
function previous(pageNum){
	selectByPage(pageNum-1);
}

function nextpage(pageNum){
	selectByPage(pageNum+1);
}

function jumpPage(){
	var pageNum=jQuery("#pageInput").val();
	if(isNaN(pageNum)){
		pageNum="$!userQuery.pageNum";
	}
	selectByPage(pageNum);
}

function selectByPage(pageNum){
queryList(pageNum);
}
</script>