
<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>

<div class="sidebar sidebar-fixed" id="sidebar">
<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'fixed')
    } catch (e) {
    }
</script>


<!-- #sidebar-shortcuts -->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
    </div>
</div>

<ul class="nav nav-list">
<li id="task_manage" class="nav-head">
    <a href="#" class="dropdown-toggle">
        <i class="icon-tasks"></i>
        <span class="menu-text"> 账号管理 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li id="user_manage">
            <a href="#" class="wordstudy_nav" url="/user/manage">
                <i class="icon-double-angle-right"></i>
               	 用户管理
            </a>
        </li>
        <li id="activate_manage">
            <a href="#" class="wordstudy_nav" url="/activateCode/manage">
                <i class="icon-double-angle-right"></i>
               	 激活码管理
            </a>
        </li>
    </ul>
</li>
#*<li id="valid_manage">
    <a href="#" class="dropdown-toggle">
        <i class="icon-desktop"></i>
        <span class="menu-text"> 订单中心校验</span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li id="common_submit_valid">
            <a href="/taskManager/valid/index">
                <i class="icon-double-angle-right"></i>
               	通用下单参数校验
            </a>
        </li>
        <li id="oc_submit_valid">
            <a href="/taskManager/valid/index">
                <i class="icon-double-angle-right"></i>
               	订单中心参数校验
            </a>
        </li>
        
    </ul>
</li>

<li id="sys_manage">
    <a href="#" class="dropdown-toggle">
        <i class="icon-cogs"></i>
        <span class="menu-text"> 系统管理</span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li id="task_schedule">
            <a href="/taskManager/valid/index">
                <i class="icon-double-angle-right"></i>
               	任务调度管理
            </a>
        </li>
        
    </ul>
</li>*#


</ul>
<!-- /.nav-list -->
<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

</div>
<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {
    }
    void function(j){
        j(".wordstudy_nav").click(function(){
            var _this=j(this);
            var menuName=_this.children('span.menu-text').html();
            var _parent=_this.parent();
            _parent.siblings().removeClass("active");
            _parent.addClass("active");
            var url=_this.attr('url');
            if(url){
                gUtils.fRefleshBread(menuName);
                gUtils.fGetBody(url,'main_content');
            }
        });
    }(jQuery);



</script>
