#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#add_activatecode").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


    
<div class="modal-body " id="add_activatecode">
	<form class="form-horizontal"  id="form_add_ActivateCode" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="activateCode">激活码</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="activateCode" id="activateCode" placeholder="请输入激活码" maxlength="50"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="lessonIds">关联课程号</label>
			<div class="col-sm-7 controls">
			
				<input type="text"  class="form-control" name="lessonIds" id="lessonIds" placeholder="请输入关联课程号" maxlength="255"/>
								
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="expireTime">超时时间</label>
			<div class="col-sm-7 controls">
			
					<input type="text"  name="expireTime" id="expireTime" class="form-control j_datetime_picker" placeholder="请输入超时时间">
									
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-7 controls">
			
        
		<select class="forms_select input-medium" name="state" id="state">
			
				<option value="1">正常</option>
				<option value="2">超期</option>
				<option value="3">无效</option>
		</select>
	
    
				
			</div>
		</div>
		
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_add_ActivateCode">保存</a>
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>




<script language="javascript">


void function(j) {
	var set = {
		 		activateCode:  {must: false, maxlength:50, ftip:'激活码,最多50个字符'},
		lessonIds:  {must: false, maxlength:255, ftip:'关联课程号,最多255个字符'},
		expireTime:  {must: true, maxlength:19, ftip:'超时时间,最多19个字符'},
		state:  {must: true, maxlength:3, ftip:'状态,最多3个字符' ,handler:'int' }
	};
	

	j('#btn_add_ActivateCode').click(function(e) {
		gUtils.fSubmitForm(
			j("#form_add_ActivateCode").serialize(),
			set, 
			'/activateCode/doAdd.action', 
			function() {
				gDialog.fClose();
				backToManage();
			}
		);
	});


	//form.friend.init(set);
}(jQuery);


	function backToManage(){
    		var url='/activateCode/manage.action';
    		gUtils.fMakeFullLink(url);
            window.location=url;
    };
</script>