#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#view_activatecode").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="modal-body " id="view_activatecode">
	<form class="form-horizontal"  id="form1" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">ID</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="id" id="id" value="$!{activateCode.id}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="activateCode">激活码</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="activateCode" id="activateCode" value="$!{activateCode.activateCode}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="lessonIds">关联课程号</label>
			<div class="col-sm-8 controls">
			
							<input type="text" class="form-control" name="lessonIds" id="lessonIds" value="$!{activateCode.lessonIds}" readonly/>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="expireTime">超时时间</label>
			<div class="col-sm-8 controls">
			
					<input type="text"  class="form-control" name="expireTime" id="expireTime" value="$!dateFormatUtils.format($!activateCode.expireTime)" readonly/>
						
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="state">状态</label>
			<div class="col-sm-8 controls">
			
        
		<select class="forms_select input-medium form-control" name="state" id="state" disabled>
						<option value="1" #if($activateCode.state==1) selected  #end>正常</option>
				<option value="2" #if($activateCode.state==2) selected  #end>超期</option>
				<option value="3" #if($activateCode.state==3) selected  #end>无效</option>

		</select>
	
    

			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="created">创建时间</label>
			<div class="col-sm-8 controls">
			
					<input type="text"  class="form-control" name="created" id="created" value="$!dateFormatUtils.format($!activateCode.created)" readonly/>
						
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="modified">修改时间</label>
			<div class="col-sm-8 controls">
			
					<input type="text"  class="form-control" name="modified" id="modified" value="$!dateFormatUtils.format($!activateCode.modified)" readonly/>
						
			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-sm" onclick="backToManage();">返回</a>
</div>


<script language="javascript">


function backToManage(){
	var url='/activateCode/manage.action';
	gUtils.fMakeFullLink(url);
    window.location=url;
}

</script>