#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_unitwordsstudy").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    



<div class="manage-content" id="search_unitwordsstudy">

<form class="form-inline" id="search_form_UnitWordsStudy">


		<div class="form-group">
			<label for="id_search">ID</label>
				
				<input type="text"  name="id" id="id_search" class="form-control" placeholder="请输入ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="studentId_search">学生ID</label>
				
				<input type="text"  name="studentId" id="studentId_search" class="form-control" placeholder="请输入学生ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="lessonId_search">课程号</label>
				
				<input type="text"  name="lessonId" id="lessonId_search" class="form-control" placeholder="请输入课程ID">
				
		</div>&nbsp;&nbsp;
		

		<div class="form-group">
			<label for="state_search">状态</label>
				
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    

		</div>&nbsp;&nbsp;
		
		<input type="button" onclick="queryUnitWordsStudyList();" class="btn btn-primary" value="搜索"  />
	</form>
		
<br/>



		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-unitWordsStudy">
				<span class="glyphicon glyphicon-plus"></span> 创建 单元单词学习</button>
		</div>


	<div id="dl_UnitWordsStudy"></div>
</div>


<script language="javascript">

	function queryUnitWordsStudyList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/unitWordsStudy/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"search_form_UnitWordsStudy");
		gUtils.fGetHtml(url, 'dl_UnitWordsStudy', param,'数据加载中...');
	}
	queryUnitWordsStudyList();
	




void function(j) {
	jQuery("#add-unitWordsStudy").click(function(){
		var url='/unitWordsStudy/add.action';
		url=gUtils.fMakeFullLink(url);
		window.location=url;
	});
	
}(jQuery);

</script>