#set($layout='/WEB-INF/vm/layout/adminLayout.vm')

        
	<script type="text/javascript">
		require(['calendar'],function(calendar){
			
				jQuery("#search_selfwords").find(".j_datetime_picker").calendar({
						frondose : true,
						disabled: false
					});
				
		});

	</script>
	
    


<div class="manage-content"  id="search_selfwords">
<form class="form-inline" id="searchForm_SelfWords" onsubmit="return false;">


		<label for="id">ID</label>
			
			<input type="text"  name="id" id="id_search" class="input input-medium" placeholder="请输入ID">
			

		
		<label for="studyId">学生ID</label>
			
			<input type="text"  name="studyId" id="studyId_search" class="input input-medium" placeholder="请输入学生ID">
			

		
		<label for="type">类型</label>
			
        
		<select class="forms_select input-medium" name="type" id="type_search">
			<option value="">全部</option>
			
				<option value="1">复习词库</option>
				<option value="2">错词库</option>
		</select>
	
    


		
		<label for="studentId">学生ID</label>
			
			<input type="text"  name="studentId" id="studentId_search" class="input input-medium" placeholder="请输入学生ID">
			

		
		<label for="lessonId">课程ID</label>
			
			<input type="text"  name="lessonId" id="lessonId_search" class="input input-medium" placeholder="请输入课程ID">
			

		
		<label for="wordId">单词ID</label>
			
			<input type="text"  name="wordId" id="wordId_search" class="input input-medium" placeholder="请输入单词ID">
			

		
		<label for="state">状态</label>
			
        
		<select class="forms_select input-medium" name="state" id="state_search">
			<option value="">全部</option>
			
				<option value="1">有效</option>
				<option value="2">无效</option>
		</select>
	
    


		
		<input type="button" onclick="querySelfWordsList();" class="btn" value="搜索"  />

	</form>
		
<br/>
		 <div class="page_operate">
			 <button class="btn  btn-primary" type="button" id="add-selfWords">创建 学生自身单词</button>
		</div>


	<div id="dl_SelfWords"></div>
</div>
<script language="javascript">
	function querySelfWordsList(pageNo) {
		if (!pageNo) {
			pageNo = 1;
		}
		var page = pageNo;
		var url = '/selfWords/list.action';
		var param = {
			page: page
		};
		
		var pageSize=jQuery("#JPageSize_queryList").val();
        if(pageSize && !isNaN(pageSize)){
            param['pageSize']=pageSize;
        }

		gUtils.fMergeParam(param,"searchForm_SelfWords");
		gUtils.fGetHtml(url, 'dl_SelfWords', param,'数据加载中...');
	}
	querySelfWordsList();




void function(j) {
	jQuery("#add-selfWords").click(function(){
		gDialog.fCreate({title: '创建 学生自身单词', url: '/selfWords/add.action',width:700}).show();
	});
	
}(jQuery);

</script>